  <div class="conteiner">
    <div class="new_profiles {{newProfilesClas}}">
      <h5 >3 new profiles</h5>
      <a href="">check now</a>
      <span (click)="newProfilesClas = 'active'" class="cancel">&times;</span>
    </div>
  </div>
  <div class="conteiner">
      <div class="flex_wrapper">
          <app-video [video]="video"></app-video>
          <app-aside></app-aside>
      </div>

  </div>
  <div class="conteiner">
      <app-list (videoSelected)="selectVideo($event)"></app-list>
  </div>



